<!--<countdown-component #CountDownComponent1></countdown-component>-->
<!--<countdown-component #CountDownComponent2></countdown-component>-->
<button ion-button color="secondary" (click)=btnPlay()>Play</button>
<button ion-button color="secondary" (click)=btnStop()>Stop</button>
<button ion-button color="secondary" (click)=btnFadeOut()>Fade out</button>
<button ion-button color="secondary" (click)=btnFadeIn()>Fade in</button>
<button ion-button color="secondary" (click)=btnPause()>Pause</button>
<hr>
<countdown-component></countdown-component>
<hr>
<button ion-button color="danger" (click)=btnTimerStart()>Timer Start</button>
<button ion-button color="danger" (click)=btnTimerPause()>Timer Pause</button>
<button ion-button color="danger" (click)=btnTimerStop()>Timer Stop</button>
<button ion-button color="danger" (click)=btnAlarm()>Alarm</button>
